<div class="w-full">
  <h1 class="font-bold text-4xl">New Inventory</h1>
  <div class="mt-14">
    <%= form_with model: @inventory, url: inventories_path, local: true do |form| %>
      <div class="border p-7 flex flex-col gap-7">
        <div>
          <%= form.label :name, class: 'font-medium block mb-2' %>
          <%= form.text_field :name, class: 'border rounded' %>
        </div>
        <%= form.submit "Submit Post" , class: 'text-sm px-4 py-2 leading-none border rounded hover:border-transparent hover:bg-green-200 max-w-fit' %>
      </div>
    <% end %>
  </div>
</div>
